# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# ZenML
.zen/

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# Python tools
.pytest_cache/
.mypy_cache/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db